<html>

<head></head>

<body>
    <div class="item recom-null js_recomItem splide__slide" data-recommendationposition="1"
        data-recommendationscheme="null" data-listname="null" data-pagelocation="null">
        <!-- CQuotient Activity Tracking (viewReco-cquotient.js) -->
        <script type="text/javascript">//<!--
            /* <![CDATA[ */
            (function () {
                try {
                    if (window.CQuotient) {
                        var cq_params = {};
                        cq_params.cookieId = window.CQuotient.getCQCookieId();
                        cq_params.userId = window.CQuotient.getCQUserId();
                        cq_params.emailId = CQuotient.getCQHashedEmail();
                        cq_params.loginId = CQuotient.getCQHashedLogin();
                        cq_params.accumulate = true;
                        cq_params.products = [{
                            id: '439130',
                            sku: '439130COL00SIZ999000',
                            type: '',
                            alt_id: ''
                        }];
                        cq_params.recommenderName = '__UNDEFINED__';
                        cq_params.realm = "AAZQ";
                        cq_params.siteId = "GB";
                        cq_params.instanceType = "prd";
                        cq_params.locale = window.CQuotient.locale;
                        cq_params.slotId = '';
                        cq_params.slotConfigId = '';
                        cq_params.slotConfigTemplate = '';
                        if (window.CQuotient.sendActivity)
                            window.CQuotient.sendActivity(CQuotient.clientId, 'viewReco', cq_params);
                        else
                            window.CQuotient.activities.push({ activityType: 'viewReco', parameters: cq_params });
                    }
                } catch (err) { }
            })();
/* ]]> */
// -->
        </script>
        <script type="text/javascript">//<!--
            /* <![CDATA[ (viewProduct-active_data.js) */
            dw.ac._capture({ id: "439130COL00SIZ999000", type: "recommendation" });
/* ]]> */
// -->
        </script>



































































































        <article class="productTile js_product-tile-component  js-quickshop-tile" id="prod-439130COL00SIZ999000"
            data-l3="{&quot;hasTemplate&quot;:false,&quot;oneColumn&quot;:false}">

            <!-- dwMarker="product" dwContentID="ed3176b09dc3f5d5c1764c9913" -->

            <div class="productTile__imageContainer  productTile__imageContainer--quickview">










                <a class="productTile__link productTile__imageContainerChild js_product-thumbLink"
                    href="/uk/en/product/bath-towel-439130.html" data-productclicktracking="true"
                    data-recomclicktracking=""
                    data-seoproducturl="https://www.uniqlo.com/uk/en/product/bath-towel-439130.html?dwvar_439130_color=COL00&amp;dwvar_439130_size=SIZ999"
                    data-dlmasterid="439130" data-dlvariationid="439130COL00SIZ999000" data-dlcolorid="COL00"
                    data-productname="Bath Towel" data-algoliaqueryid="" data-dlprice="19.9" data-dlposition=""
                    data-dlcurrency="GBP" title="Bath Towel">































                    <img data-picture="false"
                        src="https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/item/goods_00_439130.jpg?width=450&amp;impolicy=quality_70"
                        loading="lazy" class="productTile__image" alt="Bath Towel">






                </a>




                <div class="productTile__quickshop quickshop js_quickshop">
                    <span class="quickshop__title js-quickShopTitle">
                        ADD TO BAG
                    </span>
                    <div class="quickshop__selection js-quickShopSelection">
                        <span class="quickshop__label">

                            Shop now

                        </span>

                        <div class="quickshop__swatches js_quickshopSwatches" data-type="size"></div>

                    </div>
                </div>



                <div class="productTile__wishlist">
                    <button class="wishlistSave js_wishlistSave" data-action="wishlist"
                        data-productid="439130COL00SIZ999000" data-itemid="" data-wishlistadded="false">
                        <svg class="wishlistSave__icon wishlistSave__icon--onImage js_wishlistSaveIcon">
                            <use
                                xlink:href="https://www.uniqlo.com/on/demandware.static/Sites-GB-Site/-/default/dw8b275f0a/images/icon-sprite.svg#icon_wishlistHeart">
                            </use>
                        </svg>
                    </button>
                </div>

                <div class="productTile__badges">


                    <div class="badges badges--tile ">


                        <span class="badge badge--black new">

                            new

                        </span>


                    </div>

                </div>
            </div>




            <div class="productTile__swatches">

                <ul class="productTile__swatchList">






























                    <li>
                        <a href="/uk/en/product/bath-towel-439130.html"
                            class="js-productTile-swatch productTile__swatch productTile__swatch--selected"
                            title="WHITE">
                            <img class="productTile__swatchImage"
                                src="https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/chip/goods_00_439130_chip.jpg?width=60"
                                alt="Bath Towel" title="Bath Towel"
                                data-prices="{&quot;saleprice&quot;:&quot;£19.90&quot;,&quot;price&quot;:&quot;£19.90&quot;,&quot;class&quot;:&quot;product-current-price&quot;,&quot;saleclass&quot;:&quot;product-current-price&quot;,&quot;percentage&quot;:&quot;&quot;}"
                                data-thumb="{&quot;src&quot;:&quot;https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/item/goods_00_439130.jpg?width=380&quot;,&quot;alt&quot;:&quot;Bath Towel&quot;,&quot;title&quot;:&quot;Bath Towel&quot;}">
                        </a>
                    </li>






























                    <li>
                        <a data-seoproducturl="https://www.uniqlo.com/uk/en/product/bath-towel-439130.html?dwvar_439130_color=COL32&amp;dwvar_439130_size=SIZ999"
                            href="/uk/en/product/bath-towel-439130.html" data-productclicktracking="true"
                            data-recomclicktracking="" class="js-productTile-swatch productTile__swatch "
                            data-dlcolorid="COL32" data-algoliaqueryid="" data-dlvariationid="439130COL32SIZ999000"
                            data-badges="[{&quot;id&quot;:&quot;new&quot;,&quot;value&quot;:&quot;global.badge.new&quot;,&quot;coValue&quot;:&quot;new&quot;,&quot;badgeclass&quot;:&quot;black&quot;,&quot;badgevalueresource&quot;:&quot;new&quot;}]"
                            data-productname="Bath Towel"
                            data-sizes="{&quot;size&quot;:[&quot;OneSize&quot;],&quot;length&quot;:[],&quot;variants&quot;:{&quot;OneSize&quot;:&quot;439130COL32SIZ999000&quot;}}"
                            title="BEIGE">
                            <img class="productTile__swatchImage"
                                src="https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/chip/goods_32_439130_chip.jpg?width=60"
                                alt="Bath Towel" title="Bath Towel"
                                data-prices="{&quot;saleprice&quot;:&quot;£19.90&quot;,&quot;price&quot;:&quot;£19.90&quot;,&quot;class&quot;:&quot;product-current-price&quot;,&quot;saleclass&quot;:&quot;product-current-price&quot;,&quot;percentage&quot;:&quot;&quot;}"
                                data-thumb="{&quot;src&quot;:&quot;https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/item/goods_32_439130.jpg?width=380&quot;,&quot;alt&quot;:&quot;Bath Towel&quot;,&quot;title&quot;:&quot;Bath Towel&quot;}">
                        </a>
                    </li>






























                    <li>
                        <a data-seoproducturl="https://www.uniqlo.com/uk/en/product/bath-towel-439130.html?dwvar_439130_color=COL69&amp;dwvar_439130_size=SIZ999"
                            href="/uk/en/product/bath-towel-439130.html" data-productclicktracking="true"
                            data-recomclicktracking="" class="js-productTile-swatch productTile__swatch "
                            data-dlcolorid="COL69" data-algoliaqueryid="" data-dlvariationid="439130COL69SIZ999000"
                            data-badges="[{&quot;id&quot;:&quot;new&quot;,&quot;value&quot;:&quot;global.badge.new&quot;,&quot;coValue&quot;:&quot;new&quot;,&quot;badgeclass&quot;:&quot;black&quot;,&quot;badgevalueresource&quot;:&quot;new&quot;}]"
                            data-productname="Bath Towel"
                            data-sizes="{&quot;size&quot;:[&quot;OneSize&quot;],&quot;length&quot;:[],&quot;variants&quot;:{&quot;OneSize&quot;:&quot;439130COL69SIZ999000&quot;}}"
                            title="NAVY">
                            <img class="productTile__swatchImage"
                                src="https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/chip/goods_69_439130_chip.jpg?width=60"
                                alt="Bath Towel" title="Bath Towel"
                                data-prices="{&quot;saleprice&quot;:&quot;£19.90&quot;,&quot;price&quot;:&quot;£19.90&quot;,&quot;class&quot;:&quot;product-current-price&quot;,&quot;saleclass&quot;:&quot;product-current-price&quot;,&quot;percentage&quot;:&quot;&quot;}"
                                data-thumb="{&quot;src&quot;:&quot;https://image.uniqlo.com/UQ/ST3/WesternCommon/imagesgoods/439130/item/goods_69_439130.jpg?width=380&quot;,&quot;alt&quot;:&quot;Bath Towel&quot;,&quot;title&quot;:&quot;Bath Towel&quot;}">
                        </a>
                    </li>

                </ul><!-- .swatch-list -->
                <div class="productTile__icons js-productTile__icons">

                    <a data-seoproducturl="/uk/en/product/bath-towel-439130.html"
                        href="/uk/en/product/bath-towel-439130.html" class="productTile__swatchToggle"
                        title="Bath Towel">
                        <img class="productTile__plus"
                            src="https://www.uniqlo.com/on/demandware.static/Sites-GB-Site/-/default/dw6d071b71/images/addtocartpopup/plussymbol.svg"
                            alt="Bath Towel" title="Bath Towel">
                        <img class="productTile__minus"
                            src="https://www.uniqlo.com/on/demandware.static/Sites-GB-Site/-/default/dw5bcb71ab/images/addtocartpopup/minussymbol.svg"
                            alt="Bath Towel" title="Bath Towel">
                    </a>
                </div>
            </div><!-- .product-swatches -->



            <div class="productTile__textContainer ">
                <div class="productTile__titleContainer js-clamp">
                    <span class="productTile__heading">
                        <a class="productTile__link" href="/uk/en/product/bath-towel-439130.html"
                            data-productclicktracking="true" data-recomclicktracking=""
                            data-seoproducturl="https://www.uniqlo.com/uk/en/product/bath-towel-439130.html?dwvar_439130_color=COL00&amp;dwvar_439130_size=SIZ999"
                            title="Bath Towel">
                            Bath Towel
                        </a>
                    </span>
                </div>


                <div class="productTile__priceContainer">













                    <span class="price group product-current-price" title="Regular Price">£19.90</span>


                </div>

            </div>





            <!-- end: tile l3 grid context -->

        </article>



    </div>



</body>

</html>